@import url('https://fonts.googleapis.com/css?family=Heebo:400,700,900&display=swap');

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfe4ed;
  color: #333333;
}

.row-container{
  display: flex;
}

*{
  box-sizing: border-box;
}

.page-instructions{
  width: 95%;
  margin: 50px auto;
}

.Pokedex-cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pokerandom{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  button{
    width: 300px;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 40px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #4287f5;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      background-color: #2f77eb;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.075);
    }
  }
  .winner-text{
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    color: #2bc478;
    font-weight: bold;
    margin-top: 2rem;
  }
}